/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: local(''),
       url('../public/fonts/montserrat-v15-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/montserrat-v15-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('../public/fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../public/fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* playfair-display-700 - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../public/fonts/playfair-display-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/playfair-display-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../public/fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../public/fonts/open-sans-v18-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/open-sans-v18-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../public/fonts/open-sans-v18-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/open-sans-v18-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../public/fonts/open-sans-v18-latin-700italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../public/fonts/open-sans-v18-latin-700italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

* {
  box-sizing: border-box;
  background-color: #FAF5ED;
  font-family: 'Open Sans';
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

.layout {
  display: grid;
  grid-template-columns: 1;
}

.navbar{
  display: flex;
  flex-direction: row;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
  height: 96px;
}

.logo {
  margin-left: 3rem;
}

.logo h1{
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 29.26px;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-right: 1.5rem;
}

.nav-item a {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  line-height: 19.5px; 
   padding: 10px 0.75rem;
   text-decoration: none;
}

.nav-item:hover a {
  color: #81D7D8;
}

.heading-wrapper {
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-wrapper h2 span{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  text-decoration: none;
}

.heading-underline {
  margin-top: 0.325rem;
  border-bottom: 2px solid black;
}

.posts-container {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem
}

.postcard {
  display: flex;
  flex-direction: row;
  padding: 1.25rem;
  max-width: 720px;
  max-height: 240px;
}

.postcard .card-img, .post .card-contents {
  flex: 0 1 auto;
}

.postcard .card-img {
  max-width: 300px;
  height: auto;
  padding-right: 1.25rem;
}

.postcard .card-contents {
  margin-right: 1.25rem;
  max-width: 356px;
  max-height: 196px;
}

.postcard .card-contents .card-title {
  margin-top: 0.5rem;
  font-family: 'Playfair Display';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
}

.postcard .card-contents .card-title-link:hover {
  color: #81D7D8;
}

.postcard .card-contents .post-excerpt {
  font-family: 'Open Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0.5rem;
}

.postcard .card-contents .card-read-more {
  margin-top: 0.5rem;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #81D7D8;
  text-decoration: underline;

}

.postcard .card-contents .card-date {
  font-family: 'Montserrat';
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.625rem;
  color: #7D7A76;
}

.button {
  width: 5rem;
  height: 2.5rem;
  background-color: #81D7D8;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.button .button-text {
  font-family: 'Montserrat';
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #81D7D8;
}

.footer {
  margin-top: 0.5rem;
  padding-top: 0.5rem;  
}

.footer .social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
}

.footer .social-container .social-text {
  justify-content: center;
  margin-bottom: 0.25rem;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.footer .social-container .social-tray{
  justify-content: center;
  margin-top: 0.25rem;
  padding: 0 0rem 0.5rem 0rem;
}

.footer .social-container .social-tray .social-icon {
  padding: 0 0.5rem 0rem 0.5rem;
  width: 60px;
  height: 60px;
  color: #81D7D8;
}

small {
  margin-top: 0.5rem;
  font-family: 'Montserrat';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0.25rem;
}